{% extends "base.html" %}

{% block title %}Uptime-Kuma Status{% endblock %}

{% block content %}
<style>
    .checkmark-large {
        color: green;         /* Set the color */
        font-size: 72px;      /* Set the icon size */
        font-weight: bold;    /* Make it bold */
    }
</style>

<h1>Monitor Status</h1>
    <ul>
{% for monitor in monitors %}
    <li>
        <strong>{{ monitor.name }}</strong>
        - Last Status:
        {% if monitor.latest_heartbeat %}
            {{ monitor.latest_heartbeat.status.status_text }}
        {% else %}
            No data
        {% endif %}
        <ul>
            {% for note in monitor.latest_heartbeat.notes.all %}
                <li>{{ note.timestamp }}: {{ note.message }} by {{ note.user.username }}</li>
            {% empty %}
                <li>No notes available.</li>
            {% endfor %}
        </ul>
    </li>
{% empty %}
        <div class="text-success">
            <div align="center" class="bi bi-check-circle checkmark-large"></div><br>
            <div align="center"> No monitors are down<br>
            <small>Last checked: {{ now|date:"Y-m-d H:i:s" }}</small></div>
        </div>
{% endfor %}
</ul>
{% endblock %}
